.bg-portifolio, body {
    background-color: #261E1E;
}

.carousel-estilo {
    margin-top: 56px;
    width: 100%;
}

.carousel-estilo img {
    height: 400px;
    object-fit: cover;
}

.texto-carousel {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.port-titulo {
    font-size: 24px;
    color: #fff;
}

.port-sub-titulo {
    font-size: 24px;
    color: #cc4020;
}

.port-card {
    width: 18rem;
}

.card-title {
    color: black;
}
.card-text {
    color: black;
    text-align: justify;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-body-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .carousel-estilo {
        margin-top: 64px;
    }
}