.profile-curriculo {
    border-radius: 50%;
    background-color: #A6351C;
    padding: 15px;
}
.port-titulo {
    position: absolute;
    bottom: 0px;
    left: 48%;
    padding: 15px;
    border-radius: 50px;
    background-color: #A6351C;
}

.curriculo-titulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    color: #D7D9D8;
}

.curriculo-content {
    padding: 15px;
    background-color: rgba(166, 53, 28, 0.4);
    border-radius: 15px;
    margin-top: 20px;
}

.curriculo-subtitulo {
    margin: 0;
    color: #D7D9D8;
    font-size: 20px;
    font-weight: bold;
}
.curriculo-texto {
    font-size: 18px;
    margin-top: 10px;
    color: #D7D9D8;
    line-height: 1.5;
    text-align: justify;
}
.exp-subtitulo {
    margin: 0 0 15px 0;
    color: #D7D9D8;
    font-size: 20px;
    font-weight: bold;
}
.exp-titulo {
    color: #D7D9D8;
    font-weight: bold;
    text-shadow: 0px 0px 5px #db4726, 1px 2px 5px rgb(0 0 0 / 50%);
    margin-bottom: 5px;
}
.exp-texto {
    color: #D7D9D8;
    line-height: 1.5;
}

.cor-card {
    background-color: #D7D9D8;
}

.cor-card-skills {
    background-color: #A6351C;
    color: #D7D9D8;
    transition: 0.5s;
}

.cor-card-skills-active:hover {
    background-color: #db4726;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #D7D9D8;
}

.p-title {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
}

.bnt-curriculo {
    width: 100%;
    background-color: #A6351C;
    margin-top: 20px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.bnt-curriculo a {
    text-decoration: none;
    color: #D7D9D8;
}

.bnt-curriculo:hover {
    background-color: #db4726;
    box-shadow: rgba(199, 2, 2, 0.35) 0px -28px 36px -50px inset;
}