.bg-portifolio, body {
    background: linear-gradient(180deg, rgba(153, 79, 30, 1) 0%, rgba(38, 30, 30, 1) 100%);
}

.carousel-estilo {
    width: 70%;
    margin: 64px auto 0 auto;
}

.carousel-control-next, .carousel-control-prev {
    background: #cc4020;
}

.carousel-indicators li {
    background-color: #cc4020 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px !important;
    height: 20px !important;
}

.carousel-estilo img {
    height: 300px;
    object-fit: cover;
    opacity: 1;
}

.carousel-link {
    color: #fff;
}

.carousel-link:hover {
    color: rgb(214, 214, 214);
    text-decoration: none;
}

.texto-carousel {
    background: rgba(204, 64, 32, 0.5);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
.texto-carousel:hover {
    background: rgba(204, 64, 32, 0.9);
}

.port-titulo {
    font-size: 24px;
    color: #fff;
}

.port-sub-titulo {
    font-size: 24px;
    color: #cc4020;
}

.card {
    background-color: #D7D9D8;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;   
}

.card-content {
    margin-bottom: 15px;
}

.port-card {
    width: 18rem;
}

.card-title {
    color: black;
}
.card-text {
    color: black;
    text-align: justify;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #cc4020;
}

.btn-dark:focus {
    box-shadow: 0px 0px 5px 5px rgba(52, 58, 64, 0.33) !important;
    outline: 0 !important;
}

.btn-primary {
    background-color: #cc4020;
    border: 0;
}
.btn-primary:hover {
    background-color: #aa341a;
}
.btn-primary:focus {
    background-color: #8b2a14 !important;
    box-shadow: 0px 0px 5px 5px rgba(204,64,32,0.33) !important;
    outline: 0 !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-body-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .carousel-estilo {
        margin-top: 56px;
        width: 100%;
    }
    .carousel-estilo img {
        height: 300px;
        object-fit: fill;
    }
}